/* table {
    width: 90%;
    margin-top: 20px;
} */

table {
  width: 90%;
    margin-top: 20px;
}

.button-add {
  margin: 16px 83px;
}

.example-container {
  position: relative;
  min-height: 200px;
}