<div class="container">
    <h2 >Purchase Orders</h2>

    <button class="button-add" mat-raised-button color="warn" [routerLink]="['add', 0]"> New Purchase</button>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="orderNumber">
          <th mat-header-cell *matHeaderCellDef> No. Orden </th>
          <td mat-cell *matCellDef="let element"> {{element.noOrder}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="orderDate">
          <th mat-header-cell *matHeaderCellDef> Order Date </th>
          <td mat-cell *matCellDef="let element"> {{element.orderDate | date:'medium'}} </td>
        </ng-container>


        <ng-container matColumnDef="unitCost">
          <th mat-header-cell *matHeaderCellDef> Unit Cost </th>
          <td mat-cell *matCellDef="let element"> {{element.unitCost |  currency:'RD$'}} </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element"> {{element.total | currency:'RD$'}} </td>
        </ng-container>


        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="accent" [routerLink]="['add',element.id]"> Edit</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </div>
